.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5%;
}

.container {
  width: 80%;
}

/* TIMELINE */
.timelineContainer {
  display: flex;
  flex-direction: column;
}

.timelineSlider {
  width: 100%;
}

.timeButtonContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* COPY + LOAD TEXT */
.copyStateTextArea {
  max-width: 100%;
  min-width: 100%;
  max-height: 100px;
  min-height: 100px;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
