@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.treeView {
  color: black;
  font-size: 11px;
}

/* button {
  background-color: #45a0ce;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  margin: 5px;
  -webkit-transition: background-color 70ms linear;
  -ms-transition: background-color 70ms linear;
  transition: background-color 70ms linear;
}
button:hover {
  background-color: #52b5e7;
}
button:active{
  background-color: #2e769a;
 } */

button:hover {
  transition: color 100ms linear !important;
  color: white !important;
}

.displayNone {
  display: none;
}